/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: rgb(235,235,235);
	font-family: 'Ubuntu', 'Verdana', 'Helvectia', 'Arial', sans-serif;
	font-size: 11pt;
	line-height: 17pt;
}

#style-top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40%;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background: rgb(112,112,112); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(112,112,112,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(112,112,112,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(112,112,112,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(112,112,112,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(112,112,112,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(0,0,0,1) 0%,rgba(112,112,112,1) 100%); /* W3C */
	z-index: 1;
	overflow: hidden;
	vertical-align: bottom;
}

header h1 {
	font-size: 26pt;
	margin: 15px;
	color: rgb(235,235,235);
}

#content {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100px;
	bottom: 0px;
	overflow: hidden;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;		/* NEW - Chrome */
	display: -moz-flex;
	display: flex;				/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

/*NAVI*/
nav {
	background: rgba(235,235,235,0.3);
	z-index: 100;
	-webkit-box-flex: 0.1;
  	-moz-box-flex: 0.1;
	width: 20%;
  	-webkit-flex: 0.1;
	-moz-flex: 0.1;
  	-ms-flex: 0.1;
  	flex: 0.1;
  	min-width: 210px;
}

nav ul {
	list-style: none;
}

nav ul li {
	background: rgb(235,235,235);
	display: block;
	border-bottom: 1px solid rgb(112,112,112);
	cursor: pointer;
	-webkit-box-shadow: 0 1px 1px rgb(112,112,112);
	-moz-box-shadow: 0 1px 1px rgb(112,112,112);
	box-shadow: 0 1px 1px rgb(112,112,112);
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}

nav ul li.active {
	background: rgb(112,112,112);
}

nav ul li:hover {
	background: rgb(170,170,170);
}

nav ul li a {
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 10px 10px 7px 20px;
}

nav ul li.active a{
	color: rgb(235,235,235);
}
/*NAVI end*/

#main {
	overflow: auto;
	overflow-x: hidden;
	-webkit-box-shadow: inset 0 1px 1px rgb(112,112,112);
	-moz-box-shadow: inset 0 1px 1px rgb(112,112,112);
	box-shadow: inset 0 1px 1px rgb(112,112,112);
	-webkit-box-flex: 1;
  	-moz-box-flex: 1;
	width: 100%;
  	-webkit-flex: 1;
	-moz-flex: 1;
  	-ms-flex: 1;
  	flex: 1;
}

section {
	margin-left: 15px;
	max-width: 800px;
	width: 80%;
	z-index: 50;
}

h2 {
	font-size: 16pt;
	height: 30px;
	padding-top: 10px;
}

div#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(10,10,10,0.8);
	z-index: 9000;
}

div#inner-overlay {
	margin: 10% auto;
	min-width: 20%;
	max-width: 80%;
	width: 20%;
	min-height: 20%;
	max-height: 80%;
	height: auto;
	background: rgb(240,240,240);
	z-index: 9001;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 25px;
	background: rgb(112,112,112);
	color: rgb(235,235,235);
}

form label {
	width: 150px;
	display: inline-block;
}

form input {
	width: 400px;
}

form textarea {
	width: 650px;
	height: 400px;
}

/* initial appearance */
#settings-screen, #friends-screen, #search-screen, #a-z-screen, #new-article-screen {
	display: none;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
   #content {
	    -webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
   }
 
   nav {
	    width: 100%;
	    min-width: 210px;
   }
   
   #main section {
	    width: auto;
	    min-width: 210px;
	    margin-right: 15px;
   }
}

/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}

#swipebox-action, #swipebox-caption {
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d0d0d), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#0d0d0d, #000000);
  background-image: -moz-linear-gradient(#0d0d0d, #000000);
  background-image: -o-linear-gradient(#0d0d0d, #000000);
  background-image: linear-gradient(#0d0d0d, #000000);
  -webkit-box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  -moz-box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  box-shadow: 0 1px 1px 1px #212121, inset 0 1px 1px 1px black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

#swipebox-action {
  -webkit-box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
  -moz-box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
  box-shadow: 0 -1px -1px 1px #212121, inset 0 -1px -1px 1px black;
}

#swipebox-caption {
  color: white!important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
